img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size:20px;
}

iframe {
    width: 640;
    height: 480;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.banner {
    background-position: center;
    background-repeat: no-repeat;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color:black;
    color:whitesmoke;
}

.student_info {
    margin: 20px;
    padding: 0;
}

.linkedin {
    width:50px;
}

.github {
    width:100px;
}

.prof {
    color:brown;
}

.para1 {
    font: size 15vw;;
}

.resume {
    text-align: center;
}

.resume_text {
    text-align: left;
    margin: 5px;
}

.resume_year {
    float: right;
}

.menu_btn {
    background: linear-gradient(to left bottom, rgb(249, 195, 35), rgb(124, 63, 35));

    border: none;

    padding: 10px 20px; /* top left */

    border-radius: 5px;

    margin: 2px;

    font-size: 15px;

    box-shadow: 2px 2px 2px 2px rgba(244, 174, 120, 0.3); /* left top right */

    cursor: pointer; /* When we put our cursor on the button it changes to an index finger hand sign */

    width: 100%;

    color:black;
}

.btn {
    background: linear-gradient(to left bottom, rgb(249, 195, 35), rgb(124, 63, 35));

    border: none;

    padding: 5px 5px; /* top left */

    border-radius: 5px;

    margin: 2px;

    font-size: 15px;

    box-shadow: 2px 2px 2px 2px rgba(244, 174, 120, 0.3); /* left top right */

    cursor: pointer; /* When we put our cursor on the button it changes to an index finger hand sign */

    color:black;
}

.video {
    padding: 3px 3px; /* top left */

    font-size: 15px;

    background: rgb(124, 63, 35);

    border-color: rgba(252, 182, 70, 0.5);

    margin: 10px;

    color:whitesmoke;
}

/* For desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* For mobile phones */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    [class="linkedin"] {
        width: 25px;
    }

    [class="github"] {
        width: 50px;
    }
}
